/* Add screen styles below */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #F5F6F0;        
}

.navbar{
    background-color: #FF650B;
    position: relative; 
    height: 40px;
}

.logo {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    padding: 20px;
  }

.navbar ul {
    list-style-type: none;
    padding-top: 5px;
}

.navbar ul li {
    display: inline-block; 
    position: relative; 
    margin-right: 10px;
    font-size: 1em;
    padding-top: 5px;
}
/* Uses a | as a bullet point */
.navbar ul li::before {
    content: "|"; 
    position: absolute; 
    left: -10px; 
}

.navbar ul li:first-child::before {
    content: ""; 
}

/*Removes the | for the new and login text in navbar. Total pain in the butt to figure this out by the way */
.navbar ul li:nth-child(2)::before,
.navbar ul li.offset::before {
    content: "";
}

.navbar ul li.title h1 {
    margin: 0;
    font-size: 1em;
    
}

.navbar ul li.offset {
    float: right;
}


.forum dt{
    margin: 0;
    
}

.forum dd{
    color: #83847F;
    font-weight: 400;
    font-size: .6em;
    padding-bottom: 1em;

}

.forum dl{
    color: #83847F;

}

h2{
    color: #000000;
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
    margin: 0;
}

p{
    color: #83847F;
    font-weight: 500;
    font-size: .8em;
    display: inline-block;
    margin: 0;
}

.triangle {
    position: relative;
    display: inline-block;
    margin-right: -5px;
}

.triangle::before {
    position: relative;
    color: #83847F;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 10px solid #83847F; 
    margin-right: 5px;
}
